/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "reset.css";

:root {
  --color-bg: oklch(95% 0.005 210);
  --color-fg: oklch(36% 0.06 210);
  --color-active: oklch(48% 0.1 210);
  --color-lighter: oklch(42% 0.06 210);
  --color-lightest: oklch(48% 0.06 210);
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}
a {
  color: var(--color-fg);
  text-decoration: none;
}
a:hover,
a.active {
  color: var(--color-active);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Typography */
* {
  font-family: "Lab Grotesque TRIAL", sans-serif;
}

pre,
code {
  font-family: "Lab Grotesque Mono TRIAL", sans-serif;
}

/* This is the default style that applies to most things */
p,
ul,
.type-default {
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(24 / 16 * 1rem);
  margin-top: -0.2967em;
  margin-bottom: -0.3267em;
}

.type-h3 {
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(24 / 16 * 1rem);
  font-weight: 700;
  margin-top: -0.2967em;
  margin-bottom: -0.3267em;
}
