@import "reset.css";

:root {
  --color-bg: oklch(95% 0.005 210);
  --color-fg: oklch(36% 0.06 210);
  --color-active: oklch(48% 0.1 210);
  --color-lighter: oklch(42% 0.06 210);
  --color-lightest: oklch(48% 0.06 210);
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}
a {
  color: var(--color-fg);
  text-decoration: none;
}
a:hover,
a.active {
  color: var(--color-active);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Typography */
* {
  font-family: "Lab Grotesque TRIAL", sans-serif;
}

pre,
code,
.type-mono {
  font-family: "Lab Grotesque Mono TRIAL", sans-serif;
}

/* This is the default style that applies to most things */
p,
ul,
ol,
.type-default {
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(24 / 16 * 1rem);
  margin-top: -0.2967em;
  margin-bottom: -0.3267em;
  padding-block: 4px;
}

h1,
.type-h1 {
  font-size: calc(28 / 16 * 1rem);
  line-height: calc(30 / 16 * 1rem);
  margin-top: -0.1657em;
  margin-bottom: -0.1957em;
  font-weight: 700;
}

h2,
.type-h2 {
  font-size: calc(21 / 16 * 1rem);
  line-height: calc(28 / 16 * 1rem);
  margin-top: -0.2967em;
  margin-bottom: -0.3267em;
  font-weight: 700;
}

h3,
.type-h3 {
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(21 / 16 * 1rem);
  margin-top: -0.2967em;
  margin-bottom: -0.3267em;
  font-weight: 700;
}

.pad-content {
  padding-inline: 16px;

  @media (min-width: 480px) {
    padding-inline: 24px;
  }
}

p a,
ul a,
ol a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

pre,
code,
.type-pre {
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(21 / 16 * 1rem);
  margin-top: -0.2813em;
  margin-bottom: -0.2433em;
}
