---
import TitleSection from "../components/TitleSection.astro";
import Layout from "../layouts/Layout.astro";
import ContentWrapper from "../components/ContentWrapper.astro";
---

<Layout>
  <TitleSection title="About smallness">
    I've been writing software for the web for almost 20 years, oftentimes
    embedded in small companies with equally small budgets.
  </TitleSection>

  <ContentWrapper>
    <p>
      As product makers we are surrounded by bigness. What we read online, the
      tools we use, the way we approach problems, everything carries with it the
      assumption of bigness. We solve big problems. We reach big audiences. We
      deliver big returns.
    </p>

    <p>
      I’d like to speak to you from a different place, a place of smallness.
    </p>

    <p>
      To start with, I’ll be going over some computing fundamentals, filling in
      some gaps in my own knowledge. Even as I educate myself, say by making <a
        href="https://craftinginterpreters.com">a toy programming language</a
      >, I hope I can approach these lessons with a fresh pair of eyes.
    </p>

    <p>
      In time I’d like to explore a deeper set of questions. How can making
      software become more affordable for those with real (and often dire)
      needs? How can we make software adaptable, <a
        href="https://malleable.systems">malleable</a
      >, instead of always starting over from scratch? And how can we make sure
      software really belongs to its users, never to disappear, say at the end
      of an <a href="https://www.tumblr.com/ourincrediblejourney"
        >“incredible journey”</a
      >?
    </p>

    <p>I hope this helps you in some way.</p>
  </ContentWrapper>
</Layout>
