---
import TitleSection from "../components/TitleSection.astro";
import Layout from "../layouts/Layout.astro";
import ContentWrapper from "../components/ContentWrapper.astro";
---

<Layout>
  <TitleSection title="Hi, I'm Eugen Minciu">
    I'm interested in how we can create a new software medium, moving beyond
    apps towards malleable software.
  </TitleSection>

  <ContentWrapper>
    <p>
      I've been writing software for the web for nearly 20 years, oftentimes
      embedded in small companies with equally small budgets. I don't speak from
      the vantage point of Sillicon Valley, I am an outsider.
    </p>

    <p>
      From where I stand, I keep asking myself the same questions. Why are so
      many folks with real (and often dire) needs priced out of having software
      of their own. Why is software so hard to make, especially when we seem to
      be making the same things over and over? How did we get to a place where
      our software ceases to exist when its vendor declares "an incredible
      journey"?
    </p>

    <p>
      I'm convinced there's a better way and I'm trying to make small
      contributions towards finding one.
    </p>

    <p>
      On a personal note, I live in Bucharest, Romania with my partner and our
      cat. When I'm not working or spending time with them, I enjoy watching
      films, cooking, and going for walks.
    </p>
  </ContentWrapper>
</Layout>
