---
const today = new Date();
---

<footer>
  <nav>
    <div>&copy; {today.getFullYear()} Eugen Minciu</div>
    <a class="github" href="https://github.com/eh-ooh-gen" target="_blank">
      <span class="sr-only">GitHub profile</span>
      <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          fill="currentColor"
          d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
        ></path>
      </svg>
    </a>
    <a
      class="bluesky"
      href="https://bsky.app/profile/eh-ooh-gen.com"
      target="_blank"
    >
      <span class="sr-only">BlueSky profile</span>
      <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          fill="currentColor"
          d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.995C2.566.944 1.561 1.266.902 1.565.139 1.908 0 3.08 0 3.768c0 .69.378 5.65.624 6.479.815 2.736 3.713 3.66 6.383 3.364.136-.02.275-.039.415-.056-.138.022-.276.04-.415.056-3.912.58-7.387 2.005-2.83 7.078 5.013 5.19 6.87-1.113 7.823-4.308.953 3.195 2.05 9.271 7.733 4.308 4.267-4.308 1.172-6.498-2.74-7.078a8.741 8.741 0 0 1-.415-.056c.14.017.279.036.415.056 2.67.297 5.568-.628 6.383-3.364.246-.828.624-5.79.624-6.478 0-.69-.139-1.861-.902-2.206-.659-.298-1.664-.62-4.3 1.24C16.046 4.748 13.087 8.687 12 10.8Z"
        >
        </path>
      </svg>
    </a>
    <a
      class="email"
      href="https://bsky.app/profile/eh-ooh-gen.com"
      target="_blank"
    >
      <span class="sr-only">BlueSky profile</span>
      <svg
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.5 9.99744C20.5 10.0465 20.5 10.0936 20.5 10.1436C20.4673 11.5147 19.9587 13.0744 17.8077 13.0744C15.5827 13.0744 15.1154 11.4013 15.1154 9.99744V6.15129C15.1156 6.04584 15.0942 5.94146 15.0524 5.84465C15.0106 5.74784 14.9493 5.66066 14.8724 5.58852C14.7955 5.51638 14.7045 5.46083 14.6052 5.42531C14.5059 5.38979 14.4004 5.37507 14.2952 5.38206C14.0971 5.39907 13.9127 5.4906 13.7794 5.63818C13.6461 5.78576 13.5738 5.9784 13.5769 6.17725V6.56186C12.8825 5.93949 12.0158 5.54206 11.0911 5.42193C10.1664 5.3018 9.22691 5.46461 8.39652 5.8889C7.56613 6.3132 6.88373 6.97908 6.43923 7.79883C5.99473 8.61858 5.80896 9.55375 5.90641 10.4812C6.00386 11.4086 6.37994 12.2847 6.98513 12.9942C7.59031 13.7036 8.3962 14.2131 9.29665 14.4555C10.1971 14.698 11.1499 14.662 12.0294 14.3522C12.909 14.0425 13.6741 13.4736 14.224 12.7205C14.3202 12.8887 14.4288 13.0494 14.549 13.2013C15.0654 13.8436 16.049 14.6128 17.8077 14.6128C18.1047 14.6138 18.4013 14.5897 18.6942 14.5407C18.7667 14.5286 18.841 14.5375 18.9086 14.5664C18.9761 14.5952 19.0339 14.6428 19.0753 14.7035C19.1167 14.7641 19.1398 14.8354 19.1419 14.9088C19.1441 14.9822 19.1252 15.0546 19.0875 15.1176C18.1834 16.6341 16.8942 17.8844 15.3506 18.7414C13.8071 19.5985 12.0642 20.0318 10.299 19.9974C5.03173 19.8917 0.711538 15.6571 0.507692 10.3926C0.455553 9.06406 0.668881 7.73843 1.1352 6.49329C1.60151 5.24815 2.31145 4.10851 3.22348 3.14102C4.13551 2.17354 5.23132 1.39765 6.4468 0.858739C7.66228 0.319828 8.97303 0.0287188 10.3024 0.00244156C11.6317 -0.0238357 12.9529 0.215247 14.1888 0.705702C15.4246 1.19616 16.5502 1.92814 17.4998 2.85882C18.4493 3.78951 19.2037 4.90021 19.7189 6.12594C20.234 7.35168 20.4996 8.66785 20.5 9.99744ZM7.42308 9.99744C7.42308 10.606 7.60354 11.2009 7.94163 11.7069C8.27973 12.2129 8.76028 12.6073 9.32251 12.8401C9.88475 13.073 10.5034 13.134 11.1003 13.0152C11.6971 12.8965 12.2454 12.6035 12.6757 12.1732C13.106 11.7428 13.3991 11.1946 13.5178 10.5977C13.6365 10.0009 13.5756 9.38219 13.3427 8.81995C13.1098 8.25772 12.7154 7.77717 12.2094 7.43907C11.7034 7.10098 11.1086 6.92052 10.5 6.92052C9.68395 6.92052 8.90132 7.24469 8.32429 7.82173C7.74725 8.39876 7.42308 9.18139 7.42308 9.99744Z"
          fill="currentColor"
        >
        </path>
      </svg>
    </a>
  </nav>
  <style>
    footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 24px 16px;

      @media (min-width: 480px) {
        padding: 24px;
      }
    }

    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      color: var(--color-lighter);
    }

    nav a {
      color: var(--color-lightest);
    }

    .nav svg {
      aspect-ratio: 1/1;
    }

    nav .github svg,
    nav .email svg {
      height: 20px;
    }
    nav .bluesky svg {
      height: 22px;
    }
  </style>
</footer>
