---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2 class="type-h3"><a href="/">{SITE_TITLE}</a></h2>
    <div class="links">
      <HeaderLink href="/essays">Essays</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 24px 16px;

    @media (min-width: 480px) {
      padding: 24px;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
</style>
