---
let { title, id, when } = Astro.props;
---

<section>
  <div class="title-and-description">
    <h1 class="pad-content">{title}</h1>
    {
      id && when && (
        <div class="description type-mono type-pre pad-content">
          Essay {id} • {when}
        </div>
      )
    }
  </div>
  <p class="pad-content">
    <slot />
  </p>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .title-and-description {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding-block: 4px;
  }

  p {
    font-size: calc(21 / 16 * 1rem);
    line-height: calc(28 / 16 * 1rem);
    margin-top:  margin-bottom: -0.2967em;
    margin-bottom: margin-top: -0.3267em;
    padding-block: 4px;
    font-weight: 400;
  }
</style>
